body
{
	font-size: 17px;
	margin: 0;
}
header
{
	background: rgb(243 ,233, 242);
	padding: 10px;
}
main
{
	padding: 20px;
	background: rgb(243 ,233, 242, 0.3);
}
h1
{
	text-align:center;
}
.logo img
{
	max-width: 30%;
}
@media screen and (min-width:750px)
{
	body
	{
		font-size: 20px;
	}
}